
.box{
    border: 1px solid green;
    float: left;
    width:15vw;
    padding:10px
}
.cart{
    border: 1px solid blue;
    float: right;
    width:15vw;
    padding:10px
}
.input{
    position: absolute;
    top:5px;
}